APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:0/MZUA1gPDclnhv79G6EqOlIGEECRbjG7mXQn0noXnM=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=elite
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file

LDAP_HOST=ipa.demo1.freeipa.org
LDAP_USERNAME=uid=admin,cn=users,cn=accounts,dc=demo1,dc=freeipa,dc=org
LDAP_PASSWORD=Secret123
LDAP_BASE_DN=cn=users,cn=accounts,dc=demo1,dc=freeipa,dc=org



